:root {
  --primary-color: #282e1f;
  --secondary-color: #d4f872;
  --background-color: #f8f9fa;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


